html, body, #root {
  height: 100%;
}
body {
  background-image: url('https://wallpaperaccess.com/full/1266316.jpg');
  background-size: cover;
  margin: 0;
  display: grid;
  padding: 3em;
  place-items: center;
}
.boxes {
  margin-top: 50px;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(2, minmax(350px, 1fr));
  grid-template-rows: auto;
}
.box {
  border: 1px solid black;
  background: linear-gradient(to bottom, #ada996d3, #f2f2f2ce, #dbdbdbd3, #eaeaeacb);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  h1 {
    font-size: 20px;
    margin: 0 0 1rem 0;
  }
  .content {
    padding-top: 1em;
    text-align: center;
    margin: 0 auto;
  }
  ol {
    margin-left: 0;
    li {
      align-items: center;
      display: flex;
      justify-content: flex-start;
    }
  }
}
.button {
  background: rgb(90, 90, 90);
  border: 1px solid transparent;
  color: white;
  margin-right: 1em;
  padding: .25em .75em;
  transition: all .25s ease-in;
  &:hover {
    background: white;
    border: 1px solid rgb(90, 90, 90);
    color: #333;
  }
}

.camaro {
  border: 1px solid black;
  width: 50%;
  height: auto;
  margin: 0 0 10px 150px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}